<div class="whatsapp-container">
    <a href="https://wa.me/5564984101024?text=Ol%C3%A1%2C%20quero%20ser%20um%20revendedor%20autorizado%20Gold%20%26%20Silver"
        target="_blank" aria-label="Botão WhatsApp" class="whatsapp-link" (click)="clicarWhatsapp($event)">

        <div class="whatsapp-pulse">
            <div class="whatsapp-ring"></div>
            <img src="/assets/images/logo/whatsapp/whatsapp.png" width="16" height="16" alt="WhatsApp"
                class="whatsapp-icon" />
        </div>
    </a>
</div>